/*Below CSS is for the movie and series own page.*/

.Container {
    display: grid; 
    grid-template-columns: 0.2fr 1.5fr 1fr; 
    grid-template-rows: auto 2fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Img Desc Desc"
      "Data Desc Desc"
      "Data Reviews Reviews"; 
    font-size: large;    
    
}
.Data { 
    grid-area: Data; 
    border: 2px solid black;
    padding-bottom: 300px;
    white-space: pre-wrap;
    min-width: 300px;
}

.Desc { 
    grid-area: Desc;
    white-space: pre-wrap;
    font-size: large;
    padding-left: 10px;

}
.Reviews { 
    grid-area: Reviews; 
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-left: 10px;

}
.Img { 
    grid-area: Img; 
    border: 2px solid black;
}
.Img img {
    width: 100%;
    height: 100%; 
    object-fit: contain; 
    
}

/* Below is the code for movie list*/

.MovieList button {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    padding: 15px 24px;
    border: 0;
    color: #fff;
    background: #595b68;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.searchDiv {
    display: flex;
}
.MovieList button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.search {
    flex: 2; 
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: solid;
    width: 90vw;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.MovieList .advancedSearchButton {
    flex: 1;
}

.advancedSearch {
    background-color: #5A5C69;
    padding: 20px;
    color: black;
    min-width: 40vw;
    overflow: auto;
    max-height: 100vh;
    max-width: 100vh;

}
.advancedSearch button {
    background-color: #888B9E;
}
/*Below is the code for movie and series cards*/


.MovieCard {
    border: 2px solid black;
    display: grid; 
    grid-template-columns: 0.3fr 1.5fr; 
    grid-template-rows: auto; 

    grid-template-areas: 
      "CardImg CardDesc"
      "CardImg CardButtons";

}
.CardDesc { 
    grid-area: CardDesc;
    white-space: pre-wrap;
    font-size: large;
    padding-left: 10px;
    
}

.CardImg {
    grid-area: CardImg; 

}
.CardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.CardButtons {
    grid-area: CardButtons; 
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

/* News components*/
.NewsArticle {
    border: 2px solid black;
    white-space: pre-wrap;
    font-size: large;
    padding-left: 10px;
    max-width:100%;
    width: auto;
}

.NewsArticle a {
    padding-left: 10px;
    color: rgb(158, 210, 228);
}
@media screen and (max-width: 600px) {
    .Container {
        grid-template-columns: auto auto auto; 
        grid-template-rows: auto auto auto; 
    
        grid-template-areas: 
        "Img Img Img"
        "Data Desc Desc"
        "Data Reviews Reviews"; 
      }
    .Data {
        min-width: 20vw;
    }
    .search {
        width: 40vw;
    }
    .advancedSearch {
        min-width: 50vh;
    }
}
