/* CSS for reviews */
.reviews-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 1px solid white;
    border-radius: 5px;
    height: auto;
    word-break: break-word;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333;
}

.reviews-item ul { /* Removes default padding from ul */
    padding-left: 0;
}

.reviews-popup {
    display: grid;
    grid-template-columns: 1fr 1fr;/* 2 columns */
    grid-template-rows: 1fr 1fr 1fr;/* 3 rows */
    border: 2px solid white;
    position: fixed;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%); /* Centers popup */
    animation: popup 0.5s ease-out forwards;
    border-radius: 10px;
    z-index: 1000; /* Makes sure popup is on top of everything else */
    padding: 10px;
    background-color: #656775;
}

.reviews-popup h2 {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    justify-self: center;
}

.reviewcontent {
    grid-area: 2 / 1 / 3 / 2;
    text-align: left;
    resize: none;
    width: 175%;
    height: auto;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}

.reviewcontent:focus {
    outline: none;
}

.reviews-popup .reviews-select {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: right;
    width: 20%;
    margin-bottom: 1px;
    background-color: #A1A5BB;
}

.reviews-popup .reviews-button {
    grid-area: 3 / 1 / 4 / 3;
    margin-right: 0;
    font-size: large;
    background-color: #A1A5BB;
}

.Reviews {
    padding-left: 10px;
    padding-right: 10px;
}

.reviews-button {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    background-color: #595b68;
}

.reviews-button:hover {
    background-color: #A1A5BB;
}

.reviews-select {
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #595b68;
}

.reviews-select:hover {
    background-color: #A1A5BB;
}

.reviews-sort {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviews-sort label {
    margin-right: 10px;
}

.reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/* 3 columns */
    grid-gap: 10px;
}

.Reviews a:link, a:visited {
    text-decoration: none;
    color: white;
}

.Reviews a:hover {
    text-decoration:underline;
    color: white;
}

/* Responsive layout */
@media screen and (max-width: 1000px) { /* For tablets */
    .reviews-list {
        grid-template-columns: 1fr 1fr;/* 2 columns */
    }
    .reviews-popup {
        width: 75%;
    }
}

@media screen and (max-width: 600px) { /* For phones */
    .reviews-list {
        grid-template-columns: 1fr;/* 1 column */
    }
    .reviews-popup {
        width: 90%;
    }
}

/* Animations */
@keyframes popup {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}