.reviews-sort {
    label {
        display: inline-block;
        width: 100px;
        text-align: center;
    }

    
    background-color: cyan;/* Change later */
    padding: 5px;
}

.reviews-list {
    padding: 10px;
    background-color: yellow;/* Change later */
}

a:link {
    text-decoration: none;
    color: black;/* Change later */
}

a:visited {
    text-decoration: none;
    color: black;/* Change later */
}

a:hover {
    text-decoration:underline;
    color: blue
}
.reviews-item {
    border: 1px solid black;
    border-radius: 5px;
    width: auto;
    max-width: 100%;
    height: auto;
    overflow-wrap: break-word;
    margin: 10px;
    background-color: lime;/* Change later */
}

.reviews-actions {
    button {
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: lightblue;
        transition: 0.3s;
        cursor: pointer;
    }

    .reviews-button-delete:hover {
        background-color: red;/* Change later */
    }

    .reviews-button:hover {
        background-color: cyan;/* Change later */
    }
}

@keyframes popup {/* Animation for popup */

    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.reviews-popup {
    animation: popup 0.5s ease-out forwards;
    position: fixed;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);/* Centers the popup */
    background-color: cyan;/* Change later */
    border-radius: 10px;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr;/* 2 columns */
    grid-template-rows: 1fr 1fr 1fr;/* 3 rows */
    grid-auto-rows: 100px;
    padding: 10px;

    h2 {
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
        justify-self: center;
    }

}

.reviewcontent {
    grid-area: 2 / 1 / 3 / 2;
    text-align: left;
    resize: none;
    width: 175%;
    height: auto;
    padding-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}

.reviewcontent:focus {
    outline: none;
}

.select {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    justify-self: right;
    width: 20%;
    margin-right: 10px;
    margin-bottom: 1px;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.reviews-button {
    grid-area: 3 / 1 / 4 / 3;
    grid-column-start: span 2;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.reviews-button:hover {
    background-color: green;/* Change later */
}