/*some basics*/
body{
    background-color: #282923;
    color: azure;
    min-height: 95vh; 
}

.nav {
    background-color: #333;
    min-height: 33px; 
    font-size: 22px;
  }
  
.nav ul {
    list-style-type: none; 
    padding: 1; 
    display: flex;
  }
  
.nav li {
    margin-right: 10px; 
  }
  
.nav a {
    text-decoration:underline; 
    color: white; 
  }
  
.nav a:hover {
    font-weight: bold; 
  }

  @media screen and (max-width: 600px) {
    .nav ul {
      list-style-type: none; 
      padding: 1; 
      display: block;
    }



}

.settingspopup {
    background-color: #333;
  
}

button {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 24px;
  border: 0;
  color: #fff;
  background: #595b68;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.usercontrol input{
  display: inline-block;
  border-radius: 3px;
  padding: 15px 24px;
  border: 0;
  color: #fff;
  background: #595b68;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
 
}

.footerclass img{

    max-height: 75px;
  
}